@import 'scss/variables.scss';

.budget-view {
  padding-top: 30px;
}

.card {
  border: 1px solid #d0daea;
  border-radius: 10px;
  h2 {
    font-size: $font-size-xxxlarge;
    font-weight: $font-weight-bolder;
  }

  h3 {
    font-size: $font-size-xxlarge;
    font-weight: $font-weight-bolder;
  }

  h3:last-child {
    margin: 0;
  }

  h4 {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bolder;
  }

  h5 {
    font-size: $font-size-large;
    font-weight: $font-weight-bolder;
  }
}

.card-semi-circular-progressbar {
  min-height: 300px;

  .card-color {
    width: 260px;
    flex-shrink: 0;
    padding: 20px;
  }
}

.card-with-shadow {
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.22);
}

.card-title {
  font-weight: $font-weight-bolder;
}

.card-subtitle {
  font-size: $font-size-large;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: #6b788c;
}

.card-progressbar {
  width: 100%;
  text-align: center;

  .semi-circular-progressbar-wrapper {
    margin: 0 auto;
  }
}

.card-color {
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  .card-subtitle {
    color: #fff;
  }
}

.card-green {
  background-color: #83bb35;
}

.card-outline-green {
  border: 2px solid #83bb35;
}

.card-orange {
  background-color: #f2b01a;
}

.card-outline-orange {
  border: 2px solid #f2b01a;
}

.card-red {
  background-color: #e0252e;
}

.card-outline-red {
  border: 2px solid #e0252e;
}

.section-gray {
  background-color: $blue-10;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.budget-subtitle {
  color: $primary-color;
  font-size: $font-size-xxxlarge;
}

.btn-app {
  background-color: $blue-100;
  color: #fff;
  font-size: $font-size-large;
  border-radius: 20px !important;
  padding: 6px 30px;
}

.text-gray {
  color: #6b788c;
}

.unit-deparments {
  .unit-deparments-header {
    font-size: $font-size-large;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .card {
    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 20px;
    }
  }
}
