.semi-circular-progressbar-wrapper {
  height: calc(var(--radio) * 1px);
  width: calc(var(--radio) * 2px);
}

.semi-circular-progressbar {
  height: calc(var(--radio) * 2px);
  width: calc(var(--radio) * 2px);
  position: relative;

  svg {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
  }

  circle {
    fill: none;
    stroke: #eef2f7;
    stroke-width: calc(var(--stroke) * 1px);
    stroke-dasharray: var(--perimeter);
    stroke-dashoffset: calc(var(--perimeter) / 2);
    stroke-linecap: round;
  }

  circle.progressbar {
    stroke: url('#gradient-color');
    stroke-dashoffset: calc(var(--perimeter) - (var(--perimeter) * var(--percent)) / 200);
  }

  .dot {
    position: absolute;
    inset: 0;
    z-index: 10;
    transform: rotate(calc(1.8deg * var(--percent)));
  }

  .dot::before {
    content: '';
    width: calc(var(--stroke) * 1px);
    height: calc(var(--stroke) * 1px);
    position: absolute;
    top: 50%;
    left: calc(var(--stroke) * -0.2px);
    transform: translateY(-50%);
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    border-width: calc(var(--stroke) * 0.2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.22);
    box-sizing: content-box;
  }

  .content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(var(--radio) * 0.35px);
    font-weight: bold;
  }
}
