.semi-circular-progressbar-wrapper {
  height: 110px;
  width: 200px;
  overflow: hidden;
}

.semi-circular-progressbar {
  height: 200px;
  width: 200px;
  position: relative;

  svg {
    height: 100%;
    width: 100%;
    transform: rotate(180deg);
  }

  circle {
    fill: none;
    stroke: #eef2f7;
    stroke-width: 20px;
    stroke-dasharray: 565.2;
    stroke-dashoffset: 282.6;
    stroke-linecap: round;
  }

  circle.progressbar {
    stroke: url('#gradient-color');
    stroke-dashoffset: calc(565.2 - (565.2 * var(--percent)) / 200);
  }

  .dot {
    position: absolute;
    inset: 0;
    z-index: 10;
    transform: rotate(calc(1.8deg * var(--percent)));
  }

  .dot::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: calc(50% - 14px);
    left: -4px;
    border-radius: 50%;
    background: transparent;
    border: 4px solid #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.22);
    box-sizing: content-box;
  }

  .content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
  }
}
